.SelectContainer {
    width: 100%;
    position: relative;
}

.SelectDropDown {
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 40px;
    color: black;
    font-weight: bold;
    background-color:#ccc;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.SelectDropDown::-ms-expand {
    display: none;
}

.SelectDropDown option {
    color: #666;
}

.SelectDropDown:focus::-ms-value {
    background-color: transparent;
}

.SelectContainer::before {
    font-family: fontello;
    content: "\25be";
    font-size: 20px;
    color: black;
    position: absolute;
    right: 5px;
    top: 5px;
    pointer-events: none;
};