.SettingsContainer {
    width: 100%;
    background-color: white;
}


.Switch {
    position: relative;
    width: 60px;
    height: 34px;
    display: inline-block;
    margin-right: 10px;
}

.Switch input {
    display: none;
}

.Slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.Slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.Switch input:checked + .Slider {
    background-color: red;
}

.Switch input:focus + .Slider {
    box-shadow: 0 0 1px red;
}

.Switch input:checked + .Slider:before {
    transform: translateX(26px);
}

.ControlFooter {
    float: right;
    font-size: 32px;
}

LblTitle {
    font-size: inherit;
}

@media(max-width: 600px) {
    .ControlFooter {
        font-size: 22px;
    }

    .Switch {
        width: 40px;
        height: 23px;
    }

    .Slider {
        border-radius: 23px;
    }

    .Slider:before {
        height: 18.5px;
        width: 18.5px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    .Switch input:checked + .Slider:before {
        transform: translateX(18.5px);
    }
}