.Modal {
    position: fixed;
    z-index: 500;
    background-color: #151515;
    width: 550px;
    top: 10%;
    left: calc((100% - 550px)/2);
    transition: all 0.5s ease-out;
}

@media(max-width: 600px) {
    .Modal {
        width: 100%;
        left: 0;
    }
}