.Switch {
    position: relative;
    width: 60px;
    height: 34px;
    display: inline-block;
    margin-right: 10px;
    top: 2px;
}

.Switch input {
    display: none;
}

.ToggleSwitch {
    position: absolute;
    cursor: pointer;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.ToggleSwitch:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.Switch input:checked + .ToggleSwitch {
    background-color: green;
}

.Switch input:focus + .ToggleSwitch {
    box-shadow: 0 0 1px green;
}

.Switch input:checked + .ToggleSwitch:before {
    transform: translateX(26px);
}


/* @media(max-width: 600px) {
    .ControlFooter {
        font-size: 22px;
    }

    .Switch {
        width: 40px;
        height: 23px;
    }

    .ToggleSwitch {
        border-radius: 23px;
    }

    .ToggleSwitch:before {
        height: 18.5px;
        width: 18.5px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    .Switch input:checked + .ToggleSwitch:before {
        transform: translateX(18.5px);
    }
} */