.Control {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

.Control button {
    border-radius: 50%;
    border: solid 4px #2e56c7;
    padding: 32px;
    margin: 40px;
    background-color: #3060e8;
    color: white;
}

.Control button:focus {
    outline: 0;
  }
  
  .Control button:active {
    background-color: #2e56c7;
  }

  .Hourglass {
    color: white;
    padding: 32px;
    opacity: 0;
    animation: rotating 1s infinite;
    
  }

  .Hourglass {
    animation: rotating 1s infinite;
  }

.Control .Stop:active {
    background-color: #da1d1d;
}

.AddTimer {
    background: transparent;
    border: none;
    font-size: 32px;
    color: white;
    float: right;

}

.AddTimer:focus {
    outline: none;
}

@media(max-width: 600px) {
    .Control button {
        display: block;
        margin: 40px auto;
    }

    .AddTimer {
        font-size: 22px;
    }
}

@keyframes rotating {
    to {
        transform: rotate(180deg);
    }
}