.SettingsPanelContainer {
    width: 100%;
    background-color:#111111;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row-gap: 15px;
    grid-template-areas: 
        "settingsText1 settings1"
        "settingsText2 settings2"
        "settingsText3 settings3"
        "footer footer";

    padding: 20px 10px;
    font-family: 'Raleway', sans-serif;
}


.SettingsLabel {
    font-size: 32px;
    color: #ccc;
}

.Slbl1 {
    grid-area: settingsText1;
}

.Slbl2 {
    grid-area: settingsText2;
}

.Slbl3 {
    grid-area: settingsText3;
}

.SettingsFooter {
    grid-area: footer;
    padding-top: 20px;
}

.SettingsFooter button {
    margin: 0 10px;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
}