.SettingsPanelContainer {
    width: 100%;
    background-color:#111111;
    font-family: 'Raleway', sans-serif;
}


.SettingsPanelGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 15px;
    padding: 20px 10px;
    font-size: 32px;
}

.SettingsFooter {
    margin: 20px 0;
}

.SettingsFooter button {
    margin: 0 10px;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
}

@media(max-width: 600px) {
    .SettingsPanelGrid {
        font-size: 7vw;
    }

    .SoundDropdown {
        position: relative; 
        top: 15px;
        right: 4px;
    }
}